html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f3f3f4!important;
}

main#wrapper {
  height: 100%;
}

main#wrapper .gray-bg.dashboard {
  height: 100%;
}

.btn-group {
  margin: 5px;
  letter-spacing:1.5px;
}

.glyphicon-star {
  font-size: 16px;
  color: orange;
}

.review-graph {
  position: relative;
}

.review-piegraph {
  position: absolute;
  left: 320px;
  top:-25px;
}

.numberCircle {
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 0.7em;
}

.numberCircle-danger{
  color: red;
}

.numberCircle-warning{
  color: orange;
}

.numberCircle-success{
  color: green;
}

.in-works-marker {
  position: fixed;
  top: 10px;
  width: 100px;
  left: 44%;
  padding-left: -50px;
  z-index: 99999;
  text-align: center;
}

.in-works-marker > span {
  margin: 10px;
}

.circle {
  border-radius: 50%;
  padding: 0.5em;
  font-size:1.3em;
}

.bottom-border {
  border-bottom: 1px solid #e7eaec;
  padding-bottom: 1em;
}

.half {
    position:relative;
}

.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}

.compContainer {
  position: relative;
}

.compChild {
  position: absolute;
  left: 80px;
}
.text-green {
    color: #4DB53C;
}

.panel-footer-nopadding{
  padding:0px 0px;
  background-color:#f5f5f5;
  border-top:1px solid #ddd;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px
}

.label-tripadvisor{background-color:#00B494}
.label-agoda{background-color:#7910DB}
.label-booking{background-color:#0066D0}
.label-makemytrip{background-color:#F45F01}
.label-expedia{background-color:#FF4279}
.label-goibibo{background-color:#233F6E}

.sideBarScroll{
  position: relative;
  overflow-y:scroll;
  height: 460px;
  background-color:#313135;
  color: #fff;
}

.sideBarScroll::-webkit-scrollbar{
width:5px;
background-color:#cccccc;
}
.sideBarScroll::-webkit-scrollbar-thumb{
background-color:#009083;
}
.sideBarScroll::-webkit-scrollbar-thumb:hover{
background-color:#009083;
}
.sideBarScroll::-webkit-scrollbar-thumb:active{
background-color:#009183;
border:0px solid #cccccc;
}
.sideBarScroll::-webkit-scrollbar-track{

-webkit-box-shadow:0 0 0px gray inset;
}

.navLink{
  color:#bababa !important;
}

.navLink:hover{
  color:#ffffff !important;
}

.linkActive{
  color: #fff !important;
}

.socialCircle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid #ccc;
  text-align: center;
  font-size: 1.6em;
  padding: 20px;
}

.socialCircle-total{
  border-color: #313135;
}

.socialCircle-twitter{
   border-color: #00ABED;

}

.socialCircle-facebook{
  border-color: #21448C;
}

.socialCircle-instagram{
   border-color: #125688;
}
.demographyIcon{
  font-size: 3em;
  text-align: center;
}

.centeredContent{
  text-align: center;
}

.loadingCube {
  margin-left:43%;margin-top:15%;height: 100%;
}
