/* https://github.com/danschumann/spacing-classes/ */
.pad-xs-top-1 {
  padding-top: 1px !important;
}
.pad-xs-left-1 {
  padding-left: 1px !important;
}
.pad-xs-right-1 {
  padding-right: 1px !important;
}
.pad-xs-bottom-1 {
  padding-bottom: 1px !important;
}
.pad-xs-1 {
  padding: 1px !important;
}
.pad-xs-top-3 {
  padding-top: 3px !important;
}
.pad-xs-left-3 {
  padding-left: 3px !important;
}
.pad-xs-right-3 {
  padding-right: 3px !important;
}
.pad-xs-bottom-3 {
  padding-bottom: 3px !important;
}
.pad-xs-3 {
  padding: 3px !important;
}
.pad-xs-top-5 {
  padding-top: 5px !important;
}
.pad-xs-left-5 {
  padding-left: 5px !important;
}
.pad-xs-right-5 {
  padding-right: 5px !important;
}
.pad-xs-bottom-5 {
  padding-bottom: 5px !important;
}
.pad-xs-5 {
  padding: 5px !important;
}
.pad-xs-top-7 {
  padding-top: 7px !important;
}
.pad-xs-left-7 {
  padding-left: 7px !important;
}
.pad-xs-right-7 {
  padding-right: 7px !important;
}
.pad-xs-bottom-7 {
  padding-bottom: 7px !important;
}
.pad-xs-7 {
  padding: 7px !important;
}
.pad-xs-top-12 {
  padding-top: 12px !important;
}
.pad-xs-left-12 {
  padding-left: 12px !important;
}
.pad-xs-right-12 {
  padding-right: 12px !important;
}
.pad-xs-bottom-12 {
  padding-bottom: 12px !important;
}
.pad-xs-12 {
  padding: 12px !important;
}
.pad-xs-top-20 {
  padding-top: 20px !important;
}
.pad-xs-left-20 {
  padding-left: 20px !important;
}
.pad-xs-right-20 {
  padding-right: 20px !important;
}
.pad-xs-bottom-20 {
  padding-bottom: 20px !important;
}
.pad-xs-20 {
  padding: 20px !important;
}
@media (min-width: 768px) {
  .pad-sm-top-1 {
    padding-top: 1px !important;
  }
  .pad-sm-left-1 {
    padding-left: 1px !important;
  }
  .pad-sm-right-1 {
    padding-right: 1px !important;
  }
  .pad-sm-bottom-1 {
    padding-bottom: 1px !important;
  }
  .pad-sm-1 {
    padding: 1px !important;
  }
  .pad-sm-top-3 {
    padding-top: 3px !important;
  }
  .pad-sm-left-3 {
    padding-left: 3px !important;
  }
  .pad-sm-right-3 {
    padding-right: 3px !important;
  }
  .pad-sm-bottom-3 {
    padding-bottom: 3px !important;
  }
  .pad-sm-3 {
    padding: 3px !important;
  }
  .pad-sm-top-5 {
    padding-top: 5px !important;
  }
  .pad-sm-left-5 {
    padding-left: 5px !important;
  }
  .pad-sm-right-5 {
    padding-right: 5px !important;
  }
  .pad-sm-bottom-5 {
    padding-bottom: 5px !important;
  }
  .pad-sm-5 {
    padding: 5px !important;
  }
  .pad-sm-top-7 {
    padding-top: 7px !important;
  }
  .pad-sm-left-7 {
    padding-left: 7px !important;
  }
  .pad-sm-right-7 {
    padding-right: 7px !important;
  }
  .pad-sm-bottom-7 {
    padding-bottom: 7px !important;
  }
  .pad-sm-7 {
    padding: 7px !important;
  }
  .pad-sm-top-12 {
    padding-top: 12px !important;
  }
  .pad-sm-left-12 {
    padding-left: 12px !important;
  }
  .pad-sm-right-12 {
    padding-right: 12px !important;
  }
  .pad-sm-bottom-12 {
    padding-bottom: 12px !important;
  }
  .pad-sm-12 {
    padding: 12px !important;
  }
  .pad-sm-top-20 {
    padding-top: 20px !important;
  }
  .pad-sm-left-20 {
    padding-left: 20px !important;
  }
  .pad-sm-right-20 {
    padding-right: 20px !important;
  }
  .pad-sm-bottom-20 {
    padding-bottom: 20px !important;
  }
  .pad-sm-20 {
    padding: 20px !important;
  }
}
@media (min-width: 992px) {
  .pad-md-top-1 {
    padding-top: 1px !important;
  }
  .pad-md-left-1 {
    padding-left: 1px !important;
  }
  .pad-md-right-1 {
    padding-right: 1px !important;
  }
  .pad-md-bottom-1 {
    padding-bottom: 1px !important;
  }
  .pad-md-1 {
    padding: 1px !important;
  }
  .pad-md-top-3 {
    padding-top: 3px !important;
  }
  .pad-md-left-3 {
    padding-left: 3px !important;
  }
  .pad-md-right-3 {
    padding-right: 3px !important;
  }
  .pad-md-bottom-3 {
    padding-bottom: 3px !important;
  }
  .pad-md-3 {
    padding: 3px !important;
  }
  .pad-md-top-5 {
    padding-top: 5px !important;
  }
  .pad-md-left-5 {
    padding-left: 5px !important;
  }
  .pad-md-right-5 {
    padding-right: 5px !important;
  }
  .pad-md-bottom-5 {
    padding-bottom: 5px !important;
  }
  .pad-md-5 {
    padding: 5px !important;
  }
  .pad-md-top-7 {
    padding-top: 7px !important;
  }
  .pad-md-left-7 {
    padding-left: 7px !important;
  }
  .pad-md-right-7 {
    padding-right: 7px !important;
  }
  .pad-md-bottom-7 {
    padding-bottom: 7px !important;
  }
  .pad-md-7 {
    padding: 7px !important;
  }
  .pad-md-top-12 {
    padding-top: 12px !important;
  }
  .pad-md-left-12 {
    padding-left: 12px !important;
  }
  .pad-md-right-12 {
    padding-right: 12px !important;
  }
  .pad-md-bottom-12 {
    padding-bottom: 12px !important;
  }
  .pad-md-12 {
    padding: 12px !important;
  }
  .pad-md-top-20 {
    padding-top: 20px !important;
  }
  .pad-md-left-20 {
    padding-left: 20px !important;
  }
  .pad-md-right-20 {
    padding-right: 20px !important;
  }
  .pad-md-bottom-20 {
    padding-bottom: 20px !important;
  }
  .pad-md-20 {
    padding: 20px !important;
  }
}
@media (min-width: 1200px) {
  .pad-lg-top-1 {
    padding-top: 1px !important;
  }
  .pad-lg-left-1 {
    padding-left: 1px !important;
  }
  .pad-lg-right-1 {
    padding-right: 1px !important;
  }
  .pad-lg-bottom-1 {
    padding-bottom: 1px !important;
  }
  .pad-lg-1 {
    padding: 1px !important;
  }
  .pad-lg-top-3 {
    padding-top: 3px !important;
  }
  .pad-lg-left-3 {
    padding-left: 3px !important;
  }
  .pad-lg-right-3 {
    padding-right: 3px !important;
  }
  .pad-lg-bottom-3 {
    padding-bottom: 3px !important;
  }
  .pad-lg-3 {
    padding: 3px !important;
  }
  .pad-lg-top-5 {
    padding-top: 5px !important;
  }
  .pad-lg-left-5 {
    padding-left: 5px !important;
  }
  .pad-lg-right-5 {
    padding-right: 5px !important;
  }
  .pad-lg-bottom-5 {
    padding-bottom: 5px !important;
  }
  .pad-lg-5 {
    padding: 5px !important;
  }
  .pad-lg-top-7 {
    padding-top: 7px !important;
  }
  .pad-lg-left-7 {
    padding-left: 7px !important;
  }
  .pad-lg-right-7 {
    padding-right: 7px !important;
  }
  .pad-lg-bottom-7 {
    padding-bottom: 7px !important;
  }
  .pad-lg-7 {
    padding: 7px !important;
  }
  .pad-lg-top-12 {
    padding-top: 12px !important;
  }
  .pad-lg-left-12 {
    padding-left: 12px !important;
  }
  .pad-lg-right-12 {
    padding-right: 12px !important;
  }
  .pad-lg-bottom-12 {
    padding-bottom: 12px !important;
  }
  .pad-lg-12 {
    padding: 12px !important;
  }
  .pad-lg-top-20 {
    padding-top: 20px !important;
  }
  .pad-lg-left-20 {
    padding-left: 20px !important;
  }
  .pad-lg-right-20 {
    padding-right: 20px !important;
  }
  .pad-lg-bottom-20 {
    padding-bottom: 20px !important;
  }
  .pad-lg-20 {
    padding: 20px !important;
  }
}
.marg-xs-top-1 {
  margin-top: 1px !important;
}
.marg-xs-left-1 {
  margin-left: 1px !important;
}
.marg-xs-right-1 {
  margin-right: 1px !important;
}
.marg-xs-bottom-1 {
  margin-bottom: 1px !important;
}
.marg-xs-1 {
  margin: 1px !important;
}
.marg-xs-top-3 {
  margin-top: 3px !important;
}
.marg-xs-left-3 {
  margin-left: 3px !important;
}
.marg-xs-right-3 {
  margin-right: 3px !important;
}
.marg-xs-bottom-3 {
  margin-bottom: 3px !important;
}
.marg-xs-3 {
  margin: 3px !important;
}
.marg-xs-top-5 {
  margin-top: 5px !important;
}
.marg-xs-left-5 {
  margin-left: 5px !important;
}
.marg-xs-right-5 {
  margin-right: 5px !important;
}
.marg-xs-bottom-5 {
  margin-bottom: 5px !important;
}
.marg-xs-5 {
  margin: 5px !important;
}
.marg-xs-top-7 {
  margin-top: 7px !important;
}
.marg-xs-left-7 {
  margin-left: 7px !important;
}
.marg-xs-right-7 {
  margin-right: 7px !important;
}
.marg-xs-bottom-7 {
  margin-bottom: 7px !important;
}
.marg-xs-7 {
  margin: 7px !important;
}
.marg-xs-top-12 {
  margin-top: 12px !important;
}
.marg-xs-left-12 {
  margin-left: 12px !important;
}
.marg-xs-right-12 {
  margin-right: 12px !important;
}
.marg-xs-bottom-12 {
  margin-bottom: 12px !important;
}
.marg-xs-12 {
  margin: 12px !important;
}
.marg-xs-top-20 {
  margin-top: 20px !important;
}
.marg-xs-left-20 {
  margin-left: 20px !important;
}
.marg-xs-right-20 {
  margin-right: 20px !important;
}
.marg-xs-bottom-20 {
  margin-bottom: 20px !important;
}
.marg-xs-20 {
  margin: 20px !important;
}
@media (min-width: 768px) {
  .marg-sm-top-1 {
    margin-top: 1px !important;
  }
  .marg-sm-left-1 {
    margin-left: 1px !important;
  }
  .marg-sm-right-1 {
    margin-right: 1px !important;
  }
  .marg-sm-bottom-1 {
    margin-bottom: 1px !important;
  }
  .marg-sm-1 {
    margin: 1px !important;
  }
  .marg-sm-top-3 {
    margin-top: 3px !important;
  }
  .marg-sm-left-3 {
    margin-left: 3px !important;
  }
  .marg-sm-right-3 {
    margin-right: 3px !important;
  }
  .marg-sm-bottom-3 {
    margin-bottom: 3px !important;
  }
  .marg-sm-3 {
    margin: 3px !important;
  }
  .marg-sm-top-5 {
    margin-top: 5px !important;
  }
  .marg-sm-left-5 {
    margin-left: 5px !important;
  }
  .marg-sm-right-5 {
    margin-right: 5px !important;
  }
  .marg-sm-bottom-5 {
    margin-bottom: 5px !important;
  }
  .marg-sm-5 {
    margin: 5px !important;
  }
  .marg-sm-top-7 {
    margin-top: 7px !important;
  }
  .marg-sm-left-7 {
    margin-left: 7px !important;
  }
  .marg-sm-right-7 {
    margin-right: 7px !important;
  }
  .marg-sm-bottom-7 {
    margin-bottom: 7px !important;
  }
  .marg-sm-7 {
    margin: 7px !important;
  }
  .marg-sm-top-12 {
    margin-top: 12px !important;
  }
  .marg-sm-left-12 {
    margin-left: 12px !important;
  }
  .marg-sm-right-12 {
    margin-right: 12px !important;
  }
  .marg-sm-bottom-12 {
    margin-bottom: 12px !important;
  }
  .marg-sm-12 {
    margin: 12px !important;
  }
  .marg-sm-top-20 {
    margin-top: 20px !important;
  }
  .marg-sm-left-20 {
    margin-left: 20px !important;
  }
  .marg-sm-right-20 {
    margin-right: 20px !important;
  }
  .marg-sm-bottom-20 {
    margin-bottom: 20px !important;
  }
  .marg-sm-20 {
    margin: 20px !important;
  }
}
@media (min-width: 992px) {
  .marg-md-top-1 {
    margin-top: 1px !important;
  }
  .marg-md-left-1 {
    margin-left: 1px !important;
  }
  .marg-md-right-1 {
    margin-right: 1px !important;
  }
  .marg-md-bottom-1 {
    margin-bottom: 1px !important;
  }
  .marg-md-1 {
    margin: 1px !important;
  }
  .marg-md-top-3 {
    margin-top: 3px !important;
  }
  .marg-md-left-3 {
    margin-left: 3px !important;
  }
  .marg-md-right-3 {
    margin-right: 3px !important;
  }
  .marg-md-bottom-3 {
    margin-bottom: 3px !important;
  }
  .marg-md-3 {
    margin: 3px !important;
  }
  .marg-md-top-5 {
    margin-top: 5px !important;
  }
  .marg-md-left-5 {
    margin-left: 5px !important;
  }
  .marg-md-right-5 {
    margin-right: 5px !important;
  }
  .marg-md-bottom-5 {
    margin-bottom: 5px !important;
  }
  .marg-md-5 {
    margin: 5px !important;
  }
  .marg-md-top-7 {
    margin-top: 7px !important;
  }
  .marg-md-left-7 {
    margin-left: 7px !important;
  }
  .marg-md-right-7 {
    margin-right: 7px !important;
  }
  .marg-md-bottom-7 {
    margin-bottom: 7px !important;
  }
  .marg-md-7 {
    margin: 7px !important;
  }
  .marg-md-top-12 {
    margin-top: 12px !important;
  }
  .marg-md-left-12 {
    margin-left: 12px !important;
  }
  .marg-md-right-12 {
    margin-right: 12px !important;
  }
  .marg-md-bottom-12 {
    margin-bottom: 12px !important;
  }
  .marg-md-12 {
    margin: 12px !important;
  }
  .marg-md-top-20 {
    margin-top: 20px !important;
  }
  .marg-md-left-20 {
    margin-left: 20px !important;
  }
  .marg-md-right-20 {
    margin-right: 20px !important;
  }
  .marg-md-bottom-20 {
    margin-bottom: 20px !important;
  }
  .marg-md-20 {
    margin: 20px !important;
  }
}
@media (min-width: 1200px) {
  .marg-lg-top-1 {
    margin-top: 1px !important;
  }
  .marg-lg-left-1 {
    margin-left: 1px !important;
  }
  .marg-lg-right-1 {
    margin-right: 1px !important;
  }
  .marg-lg-bottom-1 {
    margin-bottom: 1px !important;
  }
  .marg-lg-1 {
    margin: 1px !important;
  }
  .marg-lg-top-3 {
    margin-top: 3px !important;
  }
  .marg-lg-left-3 {
    margin-left: 3px !important;
  }
  .marg-lg-right-3 {
    margin-right: 3px !important;
  }
  .marg-lg-bottom-3 {
    margin-bottom: 3px !important;
  }
  .marg-lg-3 {
    margin: 3px !important;
  }
  .marg-lg-top-5 {
    margin-top: 5px !important;
  }
  .marg-lg-left-5 {
    margin-left: 5px !important;
  }
  .marg-lg-right-5 {
    margin-right: 5px !important;
  }
  .marg-lg-bottom-5 {
    margin-bottom: 5px !important;
  }
  .marg-lg-5 {
    margin: 5px !important;
  }
  .marg-lg-top-7 {
    margin-top: 7px !important;
  }
  .marg-lg-left-7 {
    margin-left: 7px !important;
  }
  .marg-lg-right-7 {
    margin-right: 7px !important;
  }
  .marg-lg-bottom-7 {
    margin-bottom: 7px !important;
  }
  .marg-lg-7 {
    margin: 7px !important;
  }
  .marg-lg-top-12 {
    margin-top: 12px !important;
  }
  .marg-lg-left-12 {
    margin-left: 12px !important;
  }
  .marg-lg-right-12 {
    margin-right: 12px !important;
  }
  .marg-lg-bottom-12 {
    margin-bottom: 12px !important;
  }
  .marg-lg-12 {
    margin: 12px !important;
  }
  .marg-lg-top-20 {
    margin-top: 20px !important;
  }
  .marg-lg-left-20 {
    margin-left: 20px !important;
  }
  .marg-lg-right-20 {
    margin-right: 20px !important;
  }
  .marg-lg-bottom-20 {
    margin-bottom: 20px !important;
  }
  .marg-lg-20 {
    margin: 20px !important;
  }
}
.marg-xs-top-1-inv {
  margin-top: -1px !important;
}
.marg-xs-left-1-inv {
  margin-left: -1px !important;
}
.marg-xs-right-1-inv {
  margin-right: -1px !important;
}
.marg-xs-bottom-1-inv {
  margin-bottom: -1px !important;
}
.marg-xs-1-inv {
  margin: -1px !important;
}
.marg-xs-top-3-inv {
  margin-top: -3px !important;
}
.marg-xs-left-3-inv {
  margin-left: -3px !important;
}
.marg-xs-right-3-inv {
  margin-right: -3px !important;
}
.marg-xs-bottom-3-inv {
  margin-bottom: -3px !important;
}
.marg-xs-3-inv {
  margin: -3px !important;
}
.marg-xs-top-5-inv {
  margin-top: -5px !important;
}
.marg-xs-left-5-inv {
  margin-left: -5px !important;
}
.marg-xs-right-5-inv {
  margin-right: -5px !important;
}
.marg-xs-bottom-5-inv {
  margin-bottom: -5px !important;
}
.marg-xs-5-inv {
  margin: -5px !important;
}
.marg-xs-top-7-inv {
  margin-top: -7px !important;
}
.marg-xs-left-7-inv {
  margin-left: -7px !important;
}
.marg-xs-right-7-inv {
  margin-right: -7px !important;
}
.marg-xs-bottom-7-inv {
  margin-bottom: -7px !important;
}
.marg-xs-7-inv {
  margin: -7px !important;
}
.marg-xs-top-12-inv {
  margin-top: -12px !important;
}
.marg-xs-left-12-inv {
  margin-left: -12px !important;
}
.marg-xs-right-12-inv {
  margin-right: -12px !important;
}
.marg-xs-bottom-12-inv {
  margin-bottom: -12px !important;
}
.marg-xs-12-inv {
  margin: -12px !important;
}
.marg-xs-top-20-inv {
  margin-top: -20px !important;
}
.marg-xs-left-20-inv {
  margin-left: -20px !important;
}
.marg-xs-right-20-inv {
  margin-right: -20px !important;
}
.marg-xs-bottom-20-inv {
  margin-bottom: -20px !important;
}
.marg-xs-20-inv {
  margin: -20px !important;
}
@media (min-width: 768px) {
  .marg-sm-top-1-inv {
    margin-top: -1px !important;
  }
  .marg-sm-left-1-inv {
    margin-left: -1px !important;
  }
  .marg-sm-right-1-inv {
    margin-right: -1px !important;
  }
  .marg-sm-bottom-1-inv {
    margin-bottom: -1px !important;
  }
  .marg-sm-1-inv {
    margin: -1px !important;
  }
  .marg-sm-top-3-inv {
    margin-top: -3px !important;
  }
  .marg-sm-left-3-inv {
    margin-left: -3px !important;
  }
  .marg-sm-right-3-inv {
    margin-right: -3px !important;
  }
  .marg-sm-bottom-3-inv {
    margin-bottom: -3px !important;
  }
  .marg-sm-3-inv {
    margin: -3px !important;
  }
  .marg-sm-top-5-inv {
    margin-top: -5px !important;
  }
  .marg-sm-left-5-inv {
    margin-left: -5px !important;
  }
  .marg-sm-right-5-inv {
    margin-right: -5px !important;
  }
  .marg-sm-bottom-5-inv {
    margin-bottom: -5px !important;
  }
  .marg-sm-5-inv {
    margin: -5px !important;
  }
  .marg-sm-top-7-inv {
    margin-top: -7px !important;
  }
  .marg-sm-left-7-inv {
    margin-left: -7px !important;
  }
  .marg-sm-right-7-inv {
    margin-right: -7px !important;
  }
  .marg-sm-bottom-7-inv {
    margin-bottom: -7px !important;
  }
  .marg-sm-7-inv {
    margin: -7px !important;
  }
  .marg-sm-top-12-inv {
    margin-top: -12px !important;
  }
  .marg-sm-left-12-inv {
    margin-left: -12px !important;
  }
  .marg-sm-right-12-inv {
    margin-right: -12px !important;
  }
  .marg-sm-bottom-12-inv {
    margin-bottom: -12px !important;
  }
  .marg-sm-12-inv {
    margin: -12px !important;
  }
  .marg-sm-top-20-inv {
    margin-top: -20px !important;
  }
  .marg-sm-left-20-inv {
    margin-left: -20px !important;
  }
  .marg-sm-right-20-inv {
    margin-right: -20px !important;
  }
  .marg-sm-bottom-20-inv {
    margin-bottom: -20px !important;
  }
  .marg-sm-20-inv {
    margin: -20px !important;
  }
}
@media (min-width: 992px) {
  .marg-md-top-1-inv {
    margin-top: -1px !important;
  }
  .marg-md-left-1-inv {
    margin-left: -1px !important;
  }
  .marg-md-right-1-inv {
    margin-right: -1px !important;
  }
  .marg-md-bottom-1-inv {
    margin-bottom: -1px !important;
  }
  .marg-md-1-inv {
    margin: -1px !important;
  }
  .marg-md-top-3-inv {
    margin-top: -3px !important;
  }
  .marg-md-left-3-inv {
    margin-left: -3px !important;
  }
  .marg-md-right-3-inv {
    margin-right: -3px !important;
  }
  .marg-md-bottom-3-inv {
    margin-bottom: -3px !important;
  }
  .marg-md-3-inv {
    margin: -3px !important;
  }
  .marg-md-top-5-inv {
    margin-top: -5px !important;
  }
  .marg-md-left-5-inv {
    margin-left: -5px !important;
  }
  .marg-md-right-5-inv {
    margin-right: -5px !important;
  }
  .marg-md-bottom-5-inv {
    margin-bottom: -5px !important;
  }
  .marg-md-5-inv {
    margin: -5px !important;
  }
  .marg-md-top-7-inv {
    margin-top: -7px !important;
  }
  .marg-md-left-7-inv {
    margin-left: -7px !important;
  }
  .marg-md-right-7-inv {
    margin-right: -7px !important;
  }
  .marg-md-bottom-7-inv {
    margin-bottom: -7px !important;
  }
  .marg-md-7-inv {
    margin: -7px !important;
  }
  .marg-md-top-12-inv {
    margin-top: -12px !important;
  }
  .marg-md-left-12-inv {
    margin-left: -12px !important;
  }
  .marg-md-right-12-inv {
    margin-right: -12px !important;
  }
  .marg-md-bottom-12-inv {
    margin-bottom: -12px !important;
  }
  .marg-md-12-inv {
    margin: -12px !important;
  }
  .marg-md-top-20-inv {
    margin-top: -20px !important;
  }
  .marg-md-left-20-inv {
    margin-left: -20px !important;
  }
  .marg-md-right-20-inv {
    margin-right: -20px !important;
  }
  .marg-md-bottom-20-inv {
    margin-bottom: -20px !important;
  }
  .marg-md-20-inv {
    margin: -20px !important;
  }
}
@media (min-width: 1200px) {
  .marg-lg-top-1-inv {
    margin-top: -1px !important;
  }
  .marg-lg-left-1-inv {
    margin-left: -1px !important;
  }
  .marg-lg-right-1-inv {
    margin-right: -1px !important;
  }
  .marg-lg-bottom-1-inv {
    margin-bottom: -1px !important;
  }
  .marg-lg-1-inv {
    margin: -1px !important;
  }
  .marg-lg-top-3-inv {
    margin-top: -3px !important;
  }
  .marg-lg-left-3-inv {
    margin-left: -3px !important;
  }
  .marg-lg-right-3-inv {
    margin-right: -3px !important;
  }
  .marg-lg-bottom-3-inv {
    margin-bottom: -3px !important;
  }
  .marg-lg-3-inv {
    margin: -3px !important;
  }
  .marg-lg-top-5-inv {
    margin-top: -5px !important;
  }
  .marg-lg-left-5-inv {
    margin-left: -5px !important;
  }
  .marg-lg-right-5-inv {
    margin-right: -5px !important;
  }
  .marg-lg-bottom-5-inv {
    margin-bottom: -5px !important;
  }
  .marg-lg-5-inv {
    margin: -5px !important;
  }
  .marg-lg-top-7-inv {
    margin-top: -7px !important;
  }
  .marg-lg-left-7-inv {
    margin-left: -7px !important;
  }
  .marg-lg-right-7-inv {
    margin-right: -7px !important;
  }
  .marg-lg-bottom-7-inv {
    margin-bottom: -7px !important;
  }
  .marg-lg-7-inv {
    margin: -7px !important;
  }
  .marg-lg-top-12-inv {
    margin-top: -12px !important;
  }
  .marg-lg-left-12-inv {
    margin-left: -12px !important;
  }
  .marg-lg-right-12-inv {
    margin-right: -12px !important;
  }
  .marg-lg-bottom-12-inv {
    margin-bottom: -12px !important;
  }
  .marg-lg-12-inv {
    margin: -12px !important;
  }
  .marg-lg-top-20-inv {
    margin-top: -20px !important;
  }
  .marg-lg-left-20-inv {
    margin-left: -20px !important;
  }
  .marg-lg-right-20-inv {
    margin-right: -20px !important;
  }
  .marg-lg-bottom-20-inv {
    margin-bottom: -20px !important;
  }
  .marg-lg-20-inv {
    margin: -20px !important;
  }
}